*{
    margin: 0;
    padding: 0;
    color: white;
}

/* imposta le dimensioni delle righe*/
.row{
    width: 100vw;
    height: 100vh;
    position: relative;
}

/*imposta sfondo per le righe*/
#roma{
    background: rgba(0, 0, 0, 0.50) url("img/roma.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

#copenhagen{
    background: rgba(0, 0, 0, 0.50) url("img/copenhagen.jpg");
    background-size: cover;
    background-blend-mode: darken;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tokyo{
    background: rgba(0, 0, 0, 0.50) url("img/Tokyo.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

/*imposta il testo nelle immagini*/
h1{
    font-size: 70px;
    text-shadow: 3px 3px black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}
